body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mart0 { margin-top: 0px; }
.mart2 { margin-top: 2%; }
.mart5 { margin-top: 5%; }
.mart7 { margin-top: 7%; }
.mart10 { margin-top: 10%; }

.modal-90w { width: 90%; }

.brand-logo { height: 40px; }
.sub-navbar { margin-top: 60px; }

.simple-map { padding-bottom: 5%;}