/* Tailwind */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Grid Layout */
@import '../node_modules/react-grid-layout/css/styles.css';
@import '../node_modules/react-resizable/css/styles.css';

/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Arvo&family=Comforter+Brush&family=Concert+One&family=Estonia&family=Exo+2:wght@200&family=Karla:wght@200&family=Lora&family=Montserrat:wght@200&family=Rakkas&family=Roboto:wght@300&family=Yatra+One&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mart0 { margin-top: 0px; }
.mart2 { margin-top: 2%; }
.mart5 { margin-top: 5%; }
.mart7 { margin-top: 7%; }
.mart10 { margin-top: 10%; }

.modal-90w { max-width: 90%; }

.fixed-background {   
  min-height: 500px; 
}

.fixed-background-old { 
  background: top right no-repeat; 
  background-repeat: no-repeat;
  background-attachment:fixed; 
  background-size: cover;
  min-height: 500px; 
}

.brand-logo { height: 40px; }
.slide-logo { max-width: 50%; margin-left: auto; margin-right: auto; }

.simple-map { padding-bottom: 5%;}

.home-container { margin-top: 100px; }

.container-alert { position: fixed; bottom: 10%; z-index: 1050; text-align: center; }

.small-jumbotron {padding:24px 8px 24px 8px; }

/* Site list */
.site-list-header { border: 1px solid #777; background-color: #777; color: #FFF; font-size: 1.3em; }

.site-list-item .logo { margin: 5px; }

.page-boxes { padding: 5px; }
.page-boxes .page-box { overflow: hidden; }
.page-box:hover .box-header { display: block; }
.view-xxs,.view-xs,.view-sm,.view-md,.view-lg { display: none; }
@media(max-width:480px){
  .view-xxs { display: block; }
}
@media(min-width:481px) and (max-width:768px) {
  .view-xs { display: block; }
}
@media(min-width:769px) and (max-width:996px) {
  .view-sm { display: block; }
}
@media(min-width:997px) and (max-width:1200px) {
  .view-md { display: block; }
}
@media(min-width:1201px) {
  .view-lg { display: block; }
}

.card { background: transparent;}

.fb-page { width: 100%; text-align: center;  }

.youtube-video {width: 100%; text-align: center; margin-left: auto; margin-right: auto; }

.editor-inline { border:1px solid #888; border-radius: 5px; padding-top: 7px; }
.editor-inline:hover { background-color: #EEE; }
